*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    max-width: 1600px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: #FFFFFF;
}
nav .logo{
    margin: 16px 0px 16px 120px;
}
nav .menu{
    display: flex;
     gap: 32px;
     text-align: center;
}
.menu  li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 150%;
}
.btn1 button{
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
nav button{
    margin-right: 120px;
}
