*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    width: 100%;
    max-width: 1600px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
nav .logo{
    margin: 16px 0px 16px 120px;
}
nav .menu{
    display: flex;
     gap: 32px;
     text-align: center;
}
.menu  li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 150%;
}
.menu li a:hover{
    background-color: #cbbdbd;
}
.btn1 button{
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}
.btn1 button:hover{
    background-color:#696666;
    
}
nav button{
    margin-right: 120px;
}
#banner{
    width: 100%;
    max-height: 674px;
}
#banner .banner-content .banner.image{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner-content .banner-text{
    position: absolute;
    top: 31%;
    left: 8%;
}
.banner-text{
    width: 85%;
    max-width: 1360px;
    text-align: center;
}
.btn2 button{
    padding: 8px 12px;
    border: none;
    border-radius: 1000px;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
    cursor: pointer;
}
.btn2 button i{
  margin-right: 6px;
}
.btn2 button:hover{
   background-color: #070707;
}
.banner-text h1{
    display: flex;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 84px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.banner-text h1 span{
    color: #469165;
}
.banner-text p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.banner-btn{
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}
.banner-btn .btn1 button{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.banner-btn .btn3 button{
    display: flex;
    gap: 10px;
    justify-content: center;
   align-items: center;
    background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 16px 16px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}
.btn3 button:hover{
   background-color: #469165;
}